
<html>
<head>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <div class="alert alert-danger">
        This is my home page
    </div>
</body>
</html>